@charset "utf-8";
/* CSS Document */
body, ul, li, p, h1, h2, h3, h4, h5, form {margin:0; padding:0; list-style:none}

body, input, textarea {font-size:12px; font-family:'微软雅黑', Helvetica, sans-serif}
input, textarea, selected {font-size:12px; font-family:'微软雅黑'}
body {color:#fff; background:url(../images/bg_01.png)}
a {color:#0076be; text-decoration:none}
a:focus {outline:none;-moz-outline:none;}
img {border:0}

.form {}
.form, .form fieldset, .form legend {margin:0; padding:0}
.form fieldset {border:0; margin-bottom:30px}
.form legend {font-size:20px; font-weight:bold; margin-bottom:30px}
.form .row {float:none; clear:both; font-size:14px; width:37%; margin-right:5%; padding-bottom:25px; overflow:hidden;}
.form .row label {display:block; font-weight:bold; font-size:18px; padding-bottom:15px;}
.form .row input, .form .row select {font-size:18px; width:90%; padding:8px 1%; border:1px solid #ccc; border-radius:5px}
.form .row input.checkbox {font-size:18px; width:auto; padding:0; border:0}

.form .row-flow {float:left; clear:none}

.form .row-button {width:100%; text-align:center}
.form .row-button input {width:auto;}


.pager {width:960px; margin:0 auto}
.push-left {float:left}
.push-right {float:right}
.push-clear {clear:both}

body {position:relative}
.header_bg {width:100%; height:68px; overflow:hidden; background:#fff}
.header {position:fixed; background:url(../images/bg_05.png); width:100%; height:68px; top:0; overflow:hidden ;z-index:99999}
.header .pager {position:relative; z-index: 10}
.header .logo {float:left; width:265px; background:url(../images/logo.png) no-repeat; margin:15px 0 0 0}
.header .logo a {display:block; height:39px; text-indent:-9999px}

.header .menu {clear:both; height:16px; line-height:16px; background:url(../images/menu_bg.png) no-repeat; position:absolute; left:300px; top:0px}
.header .menu li {float:left; background:url(../images/menu_line.png) no-repeat right top; padding-right:2px; margin-left:40px	}
.header .menu li a {display:block; padding:0; color:#000; font-size:15px; line-height:68px; padding:0 20px}
.header .menu li a:hover, .header .menu li a.active {color:#666}

.header .menu ul ul {display:block; width:968px; height:350px; overflow: hidden; padding:10px 0 0 0; position: absolute; left:50%; margin-left:-485px; z-index: 9; background: #F2F5F7; border:1px solid #E0E6EB; border-top:0; z-index: 99}
.header .menu ul ul li {float: none; background: none; padding: 0; margin:0; width:auto; line-height: 0px; overflow: hidden; font-size: 0}
.header .menu ul ul li a {color:#333; font-size:12px; line-height: 24px; padding: 0; text-indent: 25px; font-family:Arial;}
.header .menu ul ul li a:hover {background: transparent; text-decoration: underline;}
.header .menu ul ul li a.parent {color:#0093cb; font-size:14px; line-height: 28px; font-weight: bold;}

.header .menu ul ul ul {display:block; width:160px; height:auto; float:left; padding:0; position: static; margin:0; background: none; border:0; border-right:1px dotted #ccc}
.header .menu ul ul ul li {border:0}

.extend {width:100%; height:54px; z-index:100; position:absolute; left:0; top:68px; background:url(../images/bg_00.png);}
.extend .pager {position:absolute;}
.extend h1 {position:absolute; left:0; top:0; font-size:30px; font-weight:normal; line-height:54px; color:#fff}

.extend .search { position:absolute; right:230px; top:16px; width:236px; height:23px; background:url(../images/search_bg.png) no-repeat}
.extend .search input {vertical-align:top; border:0; outline:0; color:#ccc; background:transparent; margin:2px 0 0 10px; font-size:14px; padding:0}
.extend .search select {position:absolute; width:0px; clip:rect(5px 98px 26px 80px)}
.extend .search .select {background:url(../images/arrow_10.gif) no-repeat right center; position:absolute; top:2px; right:2px; width:80px; height:21px; line-height:19px;}
.extend .search ul {display:none; position:absolute; top:21px; right:2px; padding:5px 0; width:90px; line-height:19px; background:url(../images/bg_00.png)}
.extend .search ul li a {color:#ccc; display:block; padding:0 10px}
.extend .search ul li a:hover {color:#ccc; background:#000}

.extend .navs {position:absolute; right:530px; margin:18px 10px 0 0; font-size:14px}
.extend .navs li {display:inline; color:#fff}
.extend .navs li.cart {background:url(../images/icon_cart.png) no-repeat 10px center; padding-left:46px; margin-left:10px; border-left:1px solid #aaa; font-size:12px}
.extend .navs li.border {padding-left:13px; margin-left:10px; border-left:1px solid #aaa;}
.extend .navs a {color:#fff}


.nav, .nav .banner, .nav .banner ul, .nav .banner li, .nav .banner li a, .nav .banner div {height:618px;}
.nav_video, .nav_video .banner, .nav_video .banner ul, .nav_video .banner li, .nav_video .banner li a, .nav_video .banner div {height:446px;}
.nav_product, .nav_product .banner, .nav_product .banner ul, .nav_product .banner li, .nav_product .banner li a, .nav_product .banner div {height:691px;}

.nav {width:100%; position:relative}

.nav .banner {width:100%; height:518px; overflow:hidden; position:relative}
.nav .banner ul {width:20000px; position:absolute}
.nav .banner li {float:left; overflow:hidden; background:no-repeat center top}
.nav .banner li a {display:block; width:100%;}
.nav .banner div {display:block; cursor:pointer; width:200px; background:no-repeat; z-index:98; position:absolute; left:50%; top:0;}
.nav .banner .prev {background-image:url(../images/arrow_03.png); background-position:right center; margin-left:-700px}
.nav .banner .next {background-image:url(../images/arrow_04.png); background-position:left center; margin-left:500px}

.nav .float {width:959px; z-index:99; position:absolute; left:50%; bottom:0; margin-left:-480px; overflow:hidden}
.nav .float ul {width:960px; position:relative; height:210px; background:url(../images/bg_00.png)}
.nav .float li {float:left; width:319px; line-height:210px; border:1px solid #696969; border-left:0; border-right:0}
.nav .float li a {display:block; color:#fff; font-size:24px; text-indent:122px; border-right:1px solid #696969}
.nav .float li a.product {background-position:115px 45px; background-color: rgb(125,177,213); text-indent:135px;}
.nav .float li a.sport { background-position:70px 45px; background-color: rgb(52,138,192);}
.nav .float li a.food { background-position:80px 43px; text-indent:135px;  background-color: rgb(42,87,117); border-right:0}

.nav .float ul ul {z-index:98; position:absolute; left:0; top:100%; background-color: rgb(106,106,106); height:0; overflow:hidden}
.nav .float ul ul li {width:320px; border:0 none; background:url(../images/line_01.png) no-repeat left 20px; line-height:30px;}
.nav .float ul ul li.first {background:none}
.nav .float ul ul li a {border:0 none; text-indent:0; text-align:center; padding:20px 0 20px 0; }
.nav .float ul ul li a span {display:block; font-size:50%}

.nav .float4 li {width:240px}
.nav .float4 li a {text-align:center; text-indent:0; background:none !important}


.footer {color:#bcbcbc; background:url(../images/bg_02.png); padding-top:40px}
.footer a {color:#3c8f14}
.footer .pager {overflow:hidden}

.footer .footer-item {width:280px; float:left; margin-right:60px}
.footer .footer-item h4 {font-size:15px; font-weight:normal; padding:0 20px 10px 0; color:#fff; border-bottom:1px solid #3c8f14; display:inline-block; margin-bottom:30px}

.footer .opening {}
.footer .opening li {border-bottom:1px solid #4d4d4d; line-height:30px; padding-left:25px; background:url(../images/time.gif) no-repeat left center}
.footer .opening span {float:right}

.footer .recent {margin-right:0}
.footer .recent li {line-height:14px; padding:0 0 20px 25px; background:url(../images/arrow_02.gif) no-repeat left 6px}
.footer .recent .prev-next {float:right}

.footer .copyright {line-height:20px; border-top:1px solid #4a4a4a; margin-top:20px}

.footer {padding:20px 0; text-align:right; line-height:20px}
.footer div.tel {color:#fff; font-size:13px}
.footer div.line {width:50%; height:1px; margin:0 auto; overflow:hidden; background:#5e5e5e;}
.footer span {color:#0abafc}
.footer a img {vertical-align:middle; width:20px; height:20px}

.index {overflow:hidden; position:relative; color:#bcbcbc; padding-top:70px}
.index h4 {font-size:18px; padding:0 20px 10px 0; border-bottom:1px solid #3399ff; display:inline-block; margin-bottom:30px}

.best {width:614px; padding-bottom:30px}
.best .showall {width:100%; overflow:hidden; border-top:1px solid #4a4a4a;}
.best .showall a {float:right; display:block; padding:8px 25px 8px 15px; color:#fff; border:1px solid #4a4a4a; border-top:0; background:url(../images/arrow_02.gif) no-repeat 70px 12px}

.best-item {width:100%; padding:0 0 50px 0; margin-bottom:0px; overflow:hidden; position:relative}
.best-item .info {float:left; width:80px; border-bottom:1px solid #4a4a4a; padding-bottom:10px}
.best-item .info .pic {height:80px; background:#39f; text-align:center; color:#fff}
.best-item .info .pic span, .best-item .info .pic em {display:block; font-style:normal}
.best-item .info .pic span {font-size:14px}
.best-item .info .pic em {font-size:26px; padding-top:12px}
.best-item .info .comment {line-height:30px; padding-top:10px; display:none}
.best-item .detail {float:right; width:504px}
.best-item .detail .title {font-size:18px; line-height:20px; padding-bottom:15px}
.best-item .detail .title a {color:#bcbcbc}
.best-item .detail .pic {margin-bottom:15px}
.best-item .detail .pic a {position:relative; display:block;}
.best-item .detail .pic a em {position:absolute; left:0; bottom:0; width:100%; height:30px; line-height:30px; background:rgba(0,0,0,0.5); display:block; color:#fff; font-style:normal; font-size:16px; font-weight:bold; text-align:center; display:none;}
.best-item .detail .pic a:hover em {display:block;}
.best-item .detail .body {font-size:12px; line-height:19px; padding-bottom:30px}
.best-item .detail .tags {width:100%; overflow:hidden; display:none}
.best-item .detail .tags li {float:left; margin-right:2px}
.best-item .detail .tags li a {display:block; padding:5px 8px; color:#8d8d8d; border:1px solid #4a4a4a}
.best-item .detail .tags li a:hover {background-color:#333}
.best-item .more {position:absolute; right:0; bottom:30px}
.best-item .more a {display:block; padding:5px 20px 5px 10px; color:#fff; border:1px solid #4a4a4a; background:url(../images/arrow_02.gif) no-repeat 43px 12px}
.best-item .more a:hover {background-color:#333}

.guide {width:320px}

.guide-item {width:100%; overflow:hidden; padding-bottom:5px; margin-bottom:15px; position:relative;}
.guide-item .dropbtn {display:none; background:url(../images/arrow_06.gif) no-repeat; width:15px; height:8px; position:absolute; right:0; top:10px}
.guide-item .title {background:url(../images/arrow_06.gif) no-repeat right 5px; font-size:18px; line-height:20px; cursor:pointer}
.guide-item .tags {width:100%; overflow:hidden; border-bottom:1px solid #303030; line-height:30px; height:30px}
.guide-item .tags li {float:left; margin-right:4px}
.guide-item .tags a {display:block; color:#308ae6}
.guide-item .body {overflow:hidden}
.guide-item .body .detail {width:100%; overflow:hidden; padding:15px 0; border-top:2px solid #1c99f0; font-size:14px; line-height:20px}
.guide-item .body .detail img {float:left; margin-right:15px}
.guide-item .body .links{}
.guide-item .body .links ul {width:100%; overflow:hidden}
.guide-item .body .links li {float:right; margin-left:2px}
.guide-item .body .links li a {display:block; padding:5px 8px; color:#8d8d8d; border:1px solid #4a4a4a}
.guide-item .body .links li a:hover {background-color:#333}

.guide-item-active {}
.guide-item-active .dropbtn {background-image:url(../images/arrow_05.gif)}
.guide-item-active .title {background-image:url(../images/arrow_05.gif)}
.guide-item-active .tags {}
.guide-item-active .body {}

.guide .prev-next {float:right}

.teaching {position:relative; overflow:hidden}
.teaching .teaching-body {position:absolute; width:20000px; overflow:hidden}
.teaching .teaching-item {float:left; width:320px}


/* gallery */
.gallery {padding:100px 0}
.gallery_div {width:1000px; overflow:hidden; margin:0 auto}
#gallery {overflow:hidden}
.gallery .item {color:#666; background:#fff; line-height:18px; padding:10px; width:200px; margin-bottom:10px}
.gallery .item img {display:block; width:100%; margin-bottom:10px}
.gallery .item strong {font-size:13px}
.gallery .item .desc {width:100%; line-height:14px; border-top:1px solid #ccc; padding-top:10px}

.gallery .loading {text-align:center; font-size:20px}


/* about */
.about {color:#fff; padding-bottom:50px;}
.about h1 {font-size:26px; line-height:40px; margin:50px 0 20px 0}


/* store */
.store-extend {background:#6E6F6F}

.store-guide {margin-top:54px; background:#8A8B8B}
.store-guide ul {width:100%; overflow:hidden}
.store-guide li {float:left; width:190px; border-right:1px solid #aaa}
.store-guide li.first {width:190px; border-left:1px solid #CCCBCB}
.store-guide li a {display:block; color:#fff; font-size:18px; line-height:90px; text-align:center}
.store-guide li a:hover {background:#999}

.store-nav {position:fixed; left:50%; bottom:30px; width:53px; margin:0 0 0 610px}
.store-nav li a {display:block; width:53px; height:53px; margin-bottom:10px; color:#fff; background:no-repeat; text-align:center; line-height:50px;}
.store-nav li a.car {background-image:url(../images/icon_cart2.png)}
.store-nav li a.car:hover {background-image:url(../images/icon_cart2_2.png)}
.store-nav li a.char {background-image:url(../images/icon_char.png)}
.store-nav li a.char:hover {background-image:url(../images/icon_char_2.png)}

.store {width:1192px; margin:0 auto; padding:100px 0; overflow:hidden}
.store .pic {width:100%; text-align:center; position:relative}
.store .paynow_button  {height:180px; padding:30px 0; color:#333; background:#fff; /*position:absolute; right:20px; bottom:20px;*/}
/*.store .pic .paynow_button .paynow {margin:0; border:0; background:#0755A6; color:#fff; padding:15px 50px; font-size:18px; font-weight:bold}*/
.store .paynow_button div {float:left; margin-left:40px}
.store .paynow_button div img {cursor:pointer}
.store .paynow_button div h3 {font-size:16px; margin-bottom:10px;}
.store .paynow_button div ul {width:500px}
.store .paynow_button div li {float:left; width:90px; margin:0 40px 0 0; text-align:center; cursor:pointer; font-weight:bold}
.store .paynow_button div li em {font-size:120%}
.store .paynow_button div li img {display:block; padding:5px; background:#fff; margin:0 auto; margin-bottom:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.store .paynow_button div li.active img {background:#ABD0F6}/*url(../images/bg_04.png) repeat-x*/
.store .paynow_button div input.ip {float:left; margin-right:10px; height:38px; line-height:38px; font-size:16px; width:50px; padding:0 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border:2px solid #CFE5FA;}
.store .tabs {}
.store .tabs ul {width:100%; overflow:hidden}
.store .tabs ul li {float:left; line-height:120px; width:296px; border-left:1px solid #145aae}
.store .tabs ul li.first {width:298px; border-left:0}
.store .tabs ul li a {display:block; font-size:18px; color:#fff; background:#0d3261; text-align:center}
.store .tabs ul li a:hover, .store .tabs ul li a.selected {color:#1cbcff; background:#042143}
.store .tabs div {background:#042143}

.store .tabs2 {}
.store .tabs2 ul {width:100%; height:80px; overflow:hidden}
.store .tabs2 ul li {float:left; font-size:16px; line-height:20px; width:297px; border-left:1px solid #aaa; text-align:center}
.store .tabs2 ul li a {display:block; color:#fff; background:#8a8b8b; font-weight:bold; padding:10px 0 0 0; height:80px; overflow:hidden}
.store .tabs2 ul li.first {width:298px; border-left:0}
.store .tabs2 ul li a.down {padding-top:18px}
.store .tabs2 ul li a.selected {background:#666}
.store .tabs2 ul li span {display:block; font-size:14px; color:#c5c5c5}

.plmain {background:#058FD0; font-size:13px}
.plmain .zixunbox .pl_m {background:#0C6CB0; font-size:15px; font-weight:bold; color:#fff; padding:15px}
.plmain .zixunbox td {padding:15px}

.plitem {padding:15px; line-height:24px; border-bottom:1px solid #0C6CB0}
.plitem .huifu {background:#0688CA; padding:10px; margin-top:10px}

.tj_btn {margin:0; border:0; background:#0755A6; color:#fff; padding:5px 10px; font-size:16px; font-weight:bold}

#product-desc {background:#042143}

.product_list {width:1124px; padding:60px 0 60px 68px; overflow:hidden; margin:0 auto; text-align:center; font-size:14px; line-height:28px}
.product_list, .product_list a {color:#fbf80a}
.product_list .prolist_border {margin:50px; position:relative; width:252px; float:left}
.product_list .prolist_jiao {background:url(../images/products_jiao.png) no-repeat; position:absolute; left:0; top:0}
.product_list .prolist_jiao a {display:block; width:252px; height:252px; }
.product_list .prolist_img {margin-bottom:10px}

/* order */
.order {padding-top:100px}

.liucheng {text-align:center}

.shouhuo_info {padding:50px 0 150px 0; font-size:15px;}

.gwc_tb {border-collapse:collapse}
.gwc_tb th, .gwc_tb td, .gwc_tb a {color:#fff;}
.gwc_tb th, .gwc_tb td {padding:20px 10px; text-align:center}
.gwc_tb th {background:#134c93;}
.gwc_tb td {background:#058fd0;}

.fukuan {background:#058fd0; padding:20px 10px;}

.hy_rtt {background:#0c6cb0; padding:20px 10px;}
.hy_table {background:#058fd0;}
.hy_table th, .hy_table td {padding:10px 10px;}
.hy_table input, .hy_table textarea {font-size:14px; padding:8px}

.hy_button {margin:0; background:#058fd0; padding:20px 10px; text-align:center}
.hy_button input {background:#134c93; color:#fff; padding:10px 30px; border:0; font-size:15px}

/* user */
.user {padding:100px 0; font-size:14px; line-height:24px}
.user .pager {overflow:hidden}

.danye_left {float:left; width:150px}

.huiyuan_main {float:right; width:750px}
.hy_table, .hy_table a {color:#fff}
.hy_table  h3 {background:#0C6CB0; padding:5px }
.hy_table p {margin:0; padding:5px}
.hy_table .bg_f8 {background:#134C93}

.danye_list {font-size:12px; line-height:30px; text-align:center}
.danye_list strong {display:block; border-top:1px solid #666; margin-top:10px; padding:3px 0}
.danye_list a {color:#fff}
.danye_list li {display:inline}
.danye_list li a {color:#fff; background:#646464; width:100%; display:block; line-height:26px; margin-bottom:5px; border-radius: 4px}
.danye_list li a:hover {background:#3B3B3B}


/* train */
.train {padding:100px 0;}
.train .pager { position:relative}

.list{	position: absolute;height: 230px;width: 110px;left: -150px;top: 110px;	font-size: 12px;text-align: center;line-height:28px;}
.ul1{line-height:33px;}
.ul2{line-height:28px;}
.ul2 li{background-image:url(../images/list0.jpg);background-repeat: no-repeat;}
.ul2 li a{color:#FFF}
.ul3{width:960px;}
.ul3 li {padding-top:80px;padding-bottom:80px;text-decoration: underline;float:right;text-align:right;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #999999;}
.ul3 li img{}

.train-item {width:100%; position:relative; background:#6cb4f7; font-size:14px; margin-bottom:80px}
.train-item-body {width:100%; overflow:hidden; }
.train-item, .train-item a {color:#fff}
.train-item .left {width:690px; float:left; background:#000}
.train-item .left img {width:100%}
.train-item .right {width:210px; padding:30px; float:right}
.train-item .right strong {font-size:18px}

.train-item .share {position:absolute; bottom:0; left:-15px; width:15px; height:42px; text-indent:60px; line-height:42px; background:#56a6e8 url(../images/share_arr.png) no-repeat left top; overflow:hidden}

.train_img {}
.train_content{background-color:#FFF; color:#333; font-size:12px; line-height:22px; padding:40px}
.tarin_dis{height:50px;line-height:50px; text-align:center; font-size:14px;}

.train_share {width:100%; overflow:hidden; background:#fff; color:#333}
.train_share #bdshare {float:right; margin:0 20px 20px 0}

.train_related {width:100%; overflow:hidden; background:#fff; border-bottom:1px solid #fff}
.train_related a {display:block; position:relative; float:left; width:318px; height:200px; margin:1px; background:no-repeat center center; -webkit-background-size:cover !important; background-size:cover !important}
.train_related a span {display:none; width:100%; height:200px; line-height:200px; background:url(../images/bg_00.png); position:absolute; left:0; top:0; text-align:center; font-size:16px; font-weight:bold; color:#fff}
.train_related a:hover span {display:block}

.float_tags {position:fixed; left:20px; top:160px; font-size:12px; line-height:30px; text-align:center}
.float_tags strong {display:block; border-top:1px solid #666; margin-top:10px; padding:3px 0}
.float_tags a {color:#fff}
.float_tags li {display:inline}
.float_tags li a {color:#fff; background:#646464; width:120px; display:block; line-height:26px; margin-bottom:5px; border-radius: 4px}
.float_tags li a:hover {background:#3B3B3B}

/* video */
.video {padding:30px 0;}

.video_top {width:100%; overflow:hidden; margin-bottom:40px}
.video_top .pic {float:left; width:640px;}
.video_top .pic span {background-image:url(../images/video_play.png) !important}
.video_top .info {float:right; width:280px; line-height:20px}
.video_top .info h3 {color:#3ca9fd; font-size:24px; line-height:24px; padding:15px 0}
.video_top .info span {color:#3ca9fd; display:block}
.video_top .info em {color:#888; display:block; font-style:normal}
.video_top .info ul {padding-top:20px}
.video_top .info ul a {color:#888; display:block; font-weight:bold; line-height:16px; padding:4px 0}
.video_top .info ul a:hover {color:#e7f82b}

.video_list {border-top:1px solid #404040; padding:40px 0; width:1020px}
.video_list h2 {width:195px; height:73px; background:url(../images/video_title.png) no-repeat; text-indent:-9999px}
.video_list ul {width:100%; overflow:hidden; margin:20px 0 0 0}
.video_list li {float:left; width:195px; height:145px; padding:0; margin:20px 30px 40px 30px; text-align:center}
.video_list li a {color:#888}
.video_list li a:hover {color:#e7f82b}
.video_list li img {width:100%; display:block; margin-bottom:20px}

.video_a span {display:none}
.video_p {display:block; position:relative}
.video_p span {display:none; position:absolute; left:0; top:0; width:100%; height:100%; background:url(../images/video_play_s.png) no-repeat center center}
.video_p:hover span {display:block}

/* contact */
.contact {color:#fff; padding-bottom:50px;}
.contact h1 {font-size:26px; line-height:40px; margin:50px 0 20px 0}
.contact .detail {width:100%; overflow:hidden; padding:60px 0 0 0}
.contact .detail h4 {font-size:18px; padding:0 20px 10px 0; border-bottom:1px solid #3399ff; display:inline-block; margin-bottom:30px}
.contact .detail div.push-left, .contact .detail div.push-right {width:450px}
.contact .contact-info {float:left; width:210px; height:180px; padding:35px 0 0 15px; color:#fff; background:#3399ff;}
.contact .contact-info a {color:#fff}
.contact .contact-map {float:right; width:225px; height:215px}
.contact .contact-form {padding-top:24px}
.contact .contact-form input, .contact .contact-form textarea {width:200px; padding:8px; margin:0 0 15px 0; font-size:14px; color:#dedede; background:transparent; border:1px solid #3399ff;}
.contact .contact-form textarea {float:right; height:121px}
.contact .contact-form input.btn {width:auto; float:right; width:80px}


/* login */
.login {color:#1C7DCF; background:#fff; padding:10px}
.login h1 {border-bottom:1px solid #ccc; padding:10px 0; margin-bottom:20px}
.login .form {width:100%; overflow:hidden}
.login .form fieldset {width:38%; float:left; margin:0 6%; padding-top:20px;}
.login .form legend {margin:0; font-size:14px}
.login .form .row {width:100%; padding:0; margin-bottom:10px}
.login .form .row label {padding:0}
.login .form .row input {width:97%}

.login .form .row-button {text-align:right; padding-top:10px; margin-top:10px}
.login .form .row-button input {width:auto; padding:3px 6px}
.login .form .row-button span {float:left; padding:10px}

.login .form .row-description {clear:both; padding:30px 0 0 0}
.login .form .row-description div {padding-top:30px; border-top:1px solid #ccc; padding-right:6%}

/* register */
.register-extend {color:#fff}

.register {height:900px; color:#1D95FB; padding-top:80px; background:url(../images/register_bg.jpg) no-repeat center top; border-bottom:5px solid #000}
.register h1 {font-size:26px; line-height:40px; margin:50px 0 20px 0}
.register .form legend {color:#1D95FB}
.register .form select {width:92%; font-weight:bold; font-family:'微软雅黑'}
.register .form .row-button input {width:auto; color:#fff; background:#1D95FB; padding-left:30px; padding-right:30px}

/* prev-next */
.prev-next {width:70px; height:32px}
.prev-next a {float:left; margin-left:2px; display:block; width:30px; height:30px; border:1px solid #4a4a4a; background:url(../images/arrow_07.gif) no-repeat center center; text-indent:-9999px}
.prev-next a.next {background-image:url(../images/arrow_08.gif)}



/*other*/
.input400 {width:400px}



/*eat*/
.eatfirst{display:noe;}
.eatfirst1{display:none;}
.eat_banner{Margin-left:auto; Margin-right:auto; margin-top:0px; padding:0px;}
.eat_banner_pic {background:url(../images/eat_banner.jpg) no-repeat center; height:459px; width:100%}
.back_img{Margin-left:auto; Margin-right:auto; width:1024px; height:835px; margin-top:20px; padding:0px; background-image:url(../images/eat_back.jpg)}
.titleeat{Margin-left:auto; Margin-right:auto; width:620px;font-weight: bold; height:38px; background-image:url(../images/title.jpg); text-align: center;	line-height: 35px;font-family: "Adobe 黑体 Std"; font-size: 24px;color: #FFFFFF;}
.div_moddle{position: relative;width:650px;Margin-left:auto;font-family: "Adobe 黑体 Std";Margin-right:auto;line-height: 15px; font-size: 12px;color: #000; }
.eat_left{float:left; width:320px;}
.eat_right{float:right;width:320px;font-family: "Adobe 黑体 Std";font-size: 14px;	font-weight: 400;}
.input{background-image:url(../images/input.jpg); height:33px;background-repeat: no-repeat;width:110px;	background-position: center; }
.input2{background-image:url(../images/input.jpg); height:33px;background-repeat: no-repeat;width:142px;float:left;	background-position: left;text-align: left; }
.inputid{border:0px;width:100px; background-color: #d8d8d8;height:25px;line-height:25px; background-position:center center; margin-left:3px; margin-top:3px;}
.select{background-image:url(../images/select.jpg); height:33px;background-repeat: no-repeat;width:251px;	background-position: center; }
select{border:0px;background-color: #d8d8d8;line-height:25px;width:240px;margin-left:3px; margin-top:7px;}
.shuzi{text-align:right; background-image:url(../images/shuzi.jpg);background-repeat: no-repeat;width:230px;height:135px;	font-family: Arial, Helvetica, sans-serif; padding-top:37px;padding-right:6px;	letter-spacing: 8px;font-size: 65pt;font-weight: bold;float:left;}
.daka{height:92px;line-height:92px;	font-weight: bold;font-size: 16px;}
.next1{font-weight: bold;font-size: 16px;}

.eattwo{display:none;}
.eattwo1{display:noe;}
.shuzilist{width:500px; padding-left:20px; Margin-left:auto; Margin-right:auto;font-family: "Adobe 黑体 Std";color: #3d3d3d;}
.shuzi2{background-image:url(../images/next2shuzi.jpg);text-align:right; background-repeat: no-repeat;width:85px;height:37px;margin-right:75px;	font-family: Arial, Helvetica, sans-serif; padding-left:5px;letter-spacing: 2px;font-size: 26pt;font-weight: bold;float:left;}
.back_img2{Margin-left:auto; Margin-right:auto; width:1024px; height:835px; margin-top:20px; padding:0px; background-image:url(../images/eat_back2.jpg)}
.shuzi3{width:145px;height:37px;text-align:left;padding-left:21px;	font-family: Arial, Helvetica, sans-serif;	letter-spacing: 2px;font-size: 14pt;font-weight: bold;float:left;}
.selTargetdiv{ Margin-left:auto; Margin-right:auto; width:540px; }
.selTargetdiv span{font-family: "Adobe 黑体 Std";color: #3d3d3d; font-size: 14px;width:540px; }
.next2table{border;0px;font-family: "Adobe 黑体 Std";color: #3d3d3d;Margin-left:20px; font-size: 14px;width:500px; }
.next2table tr{height:35px;line-height:35px;}
.next2table tr td{width:200px}
.btndiv{Margin-left:auto; Margin-right:auto; width:400px; text-align:center}

.eatthree{display:none;}
.next3tablediv{width:625px; Margin-left:auto; Margin-right:auto;}
.next3table{background-image:url(../images/next3_03.jpg);background-repeat: no-repeat; width:620px; text-align: center;}



#yaob {position:absolute;width:500px;height:280px; color:#333; background:#fff; padding:20px; font-size:18px; font-weight:bold; text-align:center}
#yaob img {cursor:pointer; width:100px; height:100px}
#yaob input {margin:0 50px; border:0; background:#0755A6; color:#fff; padding:10px; font-size:16px; font-weight:bold}


#msgshow{top:50%; left:50%; position:fixed; width:313px; height:65px; margin:-33px 0 0 -161px; background:url(../images/tag.png) no-repeat;}
#msgshow_l{width:63px; height:65px; float:left;}
#msgshow_r{display:none; background:url({$pe['host_root']}include/image/dui_r.gif) no-repeat; width:7px; height:50px; float:left;}
#msgshow_m{ width:250px; height:65px; line-height:65px; float:left; font-size:16px; font-weight:bold; color:#fff; text-align:center}


.pagelist {display:none}




#popup_container {
	width:765px; background:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#popup_title {
	height:44px; background:url(../images/logo2.gif) no-repeat top center; margin-top:30px
}
#popup_content {
	color:#333; font:bold 16px/40px '微软雅黑'; text-align:center; padding:60px 0 30px 0;
}
.alert#popup_content {
	BACKGROUND-IMAGE: url(images/info.gif)
}
.confirm#popup_content {
	BACKGROUND-IMAGE: url(images/important.gif)
}
.prompt#popup_content {
	BACKGROUND-IMAGE: url(images/help.gif)
}
#popup_message {
}
#popup_panel {
	TEXT-ALIGN: center; margin-top: 60px;
}
#popup_prompt {
}
#popup_panel input, .hy_button input, .tj_btn, .paynow {
	background:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	border:3px solid #ABD0F6;
	color:#145F9F;
	outline:0;
	padding:7px 35px;
	cursor:pointer;
	font-size:14px;
}
#popup_panel input:hover, .hy_button input, .tj_btn, .paynow:hover {
	background:#0E62B7;
	border:3px solid #0E62B7;
	color:#fff;
}

.cart_dg {z-index:999999; width:765px; position:fixed; top:100px; left:50%; margin-left:-382px; background:#fff; padding:20px 1px; display:none}
.cart_dg .tlogo {height:44px; background:url(../images/logo2.gif) no-repeat top center}
.cart_dg .word {color:#333; font:bold 16px/40px '微软雅黑'; text-align:center; padding:60px 0} 
.cart_dg .button {text-align:center}
.cart_dg .button input {margin:0 50px; border:0; background:#0755A6; color:#fff; padding:10px; font-size:16px; font-weight:bold}

.about_item {background:url(../images/about_bg.jpg) no-repeat center top; text-align:center}
.about_item_write {background:#fff}

.about_f {position:relative; width:790px; height:400px; background:url(../images/about_arr.png) no-repeat center 340px; margin:0 auto}
.about_f li {width:151px; text-align:center; position:absolute; bottom:0}
.about_f p {padding:0; background:no-repeat center bottom; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;border:2px solid #7eb3d4;}
.about_f span {line-height:70px;}
.about_f li.about_f1 {left:151px;}
.about_f li.about_f2 {left:301px;}
.about_f li.about_f3 {left:452px;}
.about_f li.about_f1 p {height:70px; background-image:url(../images/about_f1.png)}
.about_f li.about_f2 p {height:130px; background-image:url(../images/about_f2.png);}
.about_f li.about_f3 p {height:200px; background-image:url(../images/about_f3.png);}


.contact_tel {width:800px; overflow:hidden; margin:0 auto}
.contact_tel li {float:left; width:320px; margin:0 30px; font-style:italic; font-size:18px;}
.contact_tel li a {margin-top:30px; font-size:18px; color:#fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;border:2px solid #7eb3d4;display:block; text-align:center; line-height:60px}
.contact_tel li a:hover {background:#fff; color:#1488c2; border-color:#fff}

.contact_info {-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;width:460px; overflow:hidden; margin:0 auto;}
.contact_info div {width:210px; height:200px; padding:40px 0 0 20px; float:left; background:#fff; text-align:left; color:#000}
.contact_info iframe {width:230px; height:240px; float:right}

.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange
{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
	font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover
{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}
.bricon
{
    background: url(../images/browser-icons.png);
}

/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
{
    filter: alpha(opacity=70);
    opacity: .7;
    overflow:hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../images/a17.png) no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }


